.bienvenida{
  text-align: center;
  font-family: "Arial Rounded MT Bold","arial";
  font-weight: bold;
  color: goldenrod;
  -webkit-text-stroke: 0.5px #696969;
  font-size: 64px;
}
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mainM{
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#spin {
  background-color: mediumpurple;
  color: #ffffff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  font-size: 1.25em;
  font-family:'Montserrat Alternates', sans-serif;
  transition: 1s;
  border: none;
}
#spin:hover{
  transform: scale(1.1);
  background-color: #800080;
}
.alineacion{
  display: flex;
}
.style{
  font-size: 1.87em;
  font-weight: bold;
  font-family:'Montserrat Alternates', sans-serif;
  text-align: center;
}
#resultado{
  font-size: 3.12em;
  font-weight: bold;
  font-family:'Montserrat Alternates', sans-serif;
  margin-bottom: 60px;
  text-align: center;
}
#lista{
  font-size: 1.25em;
  font-weight: bold;
  font-family:'Montserrat Alternates', sans-serif;
  text-align: center;
   }
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
  body {
    margin: 0;
  }
  .bienvenida {
    font-size: 31px;
    margin: 20px 20px;
  }
  #spin {
    height: 188px;
    width: 180px;
  }
  .style {
    font-size: 18px;
  }
  #resultado{
    font-size: 12px;
  }
  #lista {
    font-size: 15px ;
    margin: 100px 100px;
     }
}
