.bienvenida{
  text-align: center;
  font-family: "Arial Rounded MT Bold","arial";
  font-weight: bold;
  color: goldenrod;
  -webkit-text-stroke: 0.5px #696969;
  font-size: 4em;
}
.show{
  text-align: center;
  font-family: "helvetica";
  font-weight: bold;
  color: goldenrod;
  font-size: 3em;
  background-color:#ff0000ff;
  transform: rotate(-15deg);
  width: 300px;
  height: 60px;
  margin-bottom: 30px;
}
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.confetti {
  position: absolute;
}
.mainM{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#spin {
  background-color: mediumpurple;
  color: #ffffff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  font-size: 20px;
  font-family:'Montserrat Alternates', sans-serif;
  transition: 1s;
  border: none;
}
#spin:hover{
  transform: scale(1.1);
  background-color: #800080;
}
.alineacion{
  display: flex;
}
.style{
  font-size: 30px;
  font-weight: bold;
  font-family:'Montserrat Alternates', sans-serif;
  text-align: center;
}
#resultado{
  font-size: 50px;
  font-weight: bold;
  font-family:'Montserrat Alternates', sans-serif;
  margin-bottom: 60px;
  text-align: center;
}#lista{
  font-size: 18px;
  font-weight: bold;
  font-family:'Montserrat Alternates', sans-serif;
  text-align: center;
 }